<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" width="35%" height="20%">
  <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Email" name="username" id="loginField"
                       type="text" required [(ngModel)]="username" #email></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" name="password" id="passwordField"
                       type="password" required [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>I agree to the terms and conditions</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <ion-button routerLink="/inicio2" class="submit-btn" full type="submit"
                [disabled]="!loginForm.form.valid">Login
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

